{% use 'form_div_layout.html.twig' %}

{# Rows #}

{%- block form_row -%}
    <div class="field">
        {{- form_label(form) -}}
        <div class="control">
            {{- form_widget(form) -}}
        </div>
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{%- block checkbox_row -%}
    <div class="field">
        <div class="control">
            {{- form_widget(form) -}}
        </div>
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row -%}

{%- block radio_row -%}
    <div class="field">
        <div class="control">
            {{- form_widget(form) -}}
        </div>
        {{- form_errors(form) -}}
    </div>
{%- endblock radio_row -%}

{%- block button_row -%}
    <div class="control">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{# Labels #}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{# Help / errors #}

{%- block form_help -%}
    {%- if help -%}
        <p class="help">{{ block('form_help_content') }}</p>
    {%- endif -%}
{%- endblock form_help -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="help is-danger">{{ error.message }}</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{# Widgets #}

{%- block form_widget_simple -%}
    {%- if type is not defined or type != 'hidden' -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input')|trim}) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' textarea')|trim}) -%}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block choice_widget_collapsed -%}
    <div class="select{% if multiple %} is-multiple{% endif %}">
        {{- parent() -}}
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    <div class="{{ multiple ? 'checkboxes' : 'radios' }}"{{ block('widget_container_attributes') }}>
        {%- for child in form -%}
            {{- form_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    <label class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ block('form_label_content') }}
    </label>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <label class="radio">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ block('form_label_content') }}
    </label>
{%- endblock radio_widget -%}

{%- block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' button')|trim}) -%}
    {{- parent() -}}
{%- endblock button_widget -%}

{%- block submit_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' button is-primary')|trim}) -%}
    {{- parent() -}}
{%- endblock submit_widget -%}

{%- block reset_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' button is-light')|trim}) -%}
    {{- parent() -}}
{%- endblock reset_widget -%}
